<!DOCTYPE html>
<html lang="en">
      <head>
              <meta charset="UTF-8">
              <title>Sev!</title>
      </head>

      <body>
              <h1>Sev!</h1>
              <h2>I have edited this in VSCODE.</h2>
              <p>
              Sev.
              </p>
              <?php
              	$variable = "Sev McSeverson";
                echo $variable . "<br>";
              ?>
              <a href="http://localhost/ExpressionEngine_Core4.0.9/">Home</a>
      </body>
</html>